@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=M+PLUS+Rounded+1c:wght@300;500;700&family=Noto+Sans+TC:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans TC', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.fade-enter.themeToggleBtn {
  opacity: 0;
  transform: translateY(-30px);
}

.fade-enter-active.themeToggleBtn {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit.themeToggleBtn {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active.themeToggleBtn {
  opacity: 0;
  transform: translateY(30px);
}

@layer base {
  .nav {
    @apply flex items-center gap-1 overflow-hidden;
  }
  .navItem {
    @apply cursor-pointer p-2 text-base text-cc-text opacity-70 outline-none transition-opacity hover:opacity-100 dark:text-cc-dark-text;
  }
}
